<div class="announcement">
  <div class="announcement__wrapper">
    <div class="announcement__text" data-text="{{ section.settings.announcement_text | strip_html | handle }}">
      {{ section.settings.announcement_text }}
    </div>
  </div>
</div>